<div class="card" style="width: 18rem;">
  <img src="/images/@Model.profilePic" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@Model.name</h5>
    <h5 class="card-title">@Model.address</h5>
    <h5 class="card-title">@Model.age</h5>
    <a href="/student/index" class="btn btn-primary">Go Back To list</a>
  </div>
</div>