@model Course
@{
    ViewData["Title"] = "EditCourse";
    Layout = "~/Views/Shared/_MagicLayout.cshtml";
    SelectList deptlist = new SelectList(ViewBag.departments,"deptId","deptName","Dep_id");
    int id = 0;
}
@section Text {
    @if(Model==null)
    {
        <div class="content">Add New Course</div>
    }
    else
    {
        <div class="content">Edit Course</div>
    }
}

@if(Model != null)
{
    id = Model.Id;
}
<form method = "post" asp-action = "SaveCourse" asp-controller = "Course">
    @if(Model!=null)
    {
        <div class="mb-3 d-none">
        <label asp-for = "Id" class="form-label"></label>
        <input asp-for = "Id" class="form-control" aria-describedby="namehelp">
        </div>    
    }
  <div class="mb-3">
    <label asp-for = "Name" class="form-label"></label>
    <input asp-for = "Name" class="form-control" aria-describedby="namehelp">
    <span class = "text-warning" asp-validation-for = "Name"></span>  
</div>
  <div class="mb-3">
    <label asp-for = "Degree" class="form-label"></label>
    <input asp-for = "Degree" class="form-control" aria-describedby="salaryHelp">
    <span class = "text-warning" asp-validation-for = "Degree"></span>  
  </div>
  <div class="mb-3">
    <label asp-for = "PassDegree" class="form-label"></label>
    <input asp-for = "PassDegree" class="form-control" aria-describedby="addressHelp">
    <span class = "text-warning" asp-validation-for = "PassDegree"></span>  
  </div>
  <div class="mb-3">
    <label asp-for = "Dep_id" class="form-label"></label>
    <select asp-for = "Dep_id" asp-items = "deptlist" class="form-select" aria-label="Default select example">
    </select>
    <span class = "text-warning" asp-validation-for = "Dep_id"></span>  
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}